# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==============================
# Virtual environments
# ==============================
venv/
.env

# ==============================
# DATA (DO NOT UPLOAD)
# ==============================
data/BraTS2021_Training_Data/
data/Test/
cache/
*.nii
*.nii.gz
*.h5

# ==============================
# OUTPUTS (DO NOT UPLOAD)
# ==============================
outputs/
logs/
wandb/

# ==============================
# CHECKPOINTS
# ==============================
*.pt
*.pth
